html, body {
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

* {
  font-family: arial, sans-serif;
}

p {
  color: rgb(34, 34, 34);
  font-size: 13px;
}

a {
  color: rgb(34, 34, 34);
  font-size: 13px;
  text-decoration: none;
}

.row {
  width: 100%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 24.99%;
}

.col-4 {
  width: 33.32%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 49.98%;
}

.col-7 {
  width: 58.31%;
}

.col-8 {
  width: 66.64%;
}

.col-9 {
  width: 74.97%;
}

.col-10 {
  width: 83.3%;
}

.col-11 {
  width: 91.63;
}

.top_bar, .bottom_bar {
  border-bottom: 1px solid rgb(227, 227, 227);
  background-color: rgb(242, 242, 242);
}

.result {
  position: relative;
  left: 10%;
  margin-top: 2%;
}

.title {
  color: blue;
  font-size: 18px;
}

.link {
  color: green;
}

.text {
  border: 0;
  margin: 0;
  color: rgb(34, 34, 34);
}

.extra_links {
  color: blue;
  margin-right: 3%;
}

.numba_results {
  position: relative;
  left: 10%;
  border-bottom: 5px, 0px, 0px;
}

.more_pages {
  position: relative;
  margin: 3%;
  left: 20%;
}

.more_pages a {
  color: blue;
  margin-right: 1%;
}

.logo {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  left: -5.5%;
  top: -15%;
}

.search {
  position: relative;
  left: 10%;
  top: -130%;
}

.google_links {
  position: relative;
  float: right;
  top: -150%;
}

.google_links a {
  margin-left: 7%;
}

.top_bar {
  height: 15%;
}

.links {
  position: relative;
  height: 20%;
  left: 10%;
  top: -110%;
  height: auto;
}

.top_left_links {
  display: inline;
}

.links a {
  margin-right: 5%;
}

.top_right_links {
  position: relative;
  left: 15%;
  top: -30%;
  width: auto;
  display: inline;
}

.bottom_bar {
  height: 13%;
}

.location p, .location a{
  display: inline;
}

.location {
  position: relative;
  left: 10%;
  top: 20%;
}

.other_bottom_links {
  position: relative;
  left: 10%;
  top: 40%;
}

#logo {
  width: 240%;
  height: 260%;
  margin: 0;
  border: 0;
  padding: 0;
}

#next_page {
  margin-left: 10%;
}

#extra {
  margin: 0;
  padding: 0;
  border: 0;
}

#search_bar {
  width: 75%;
}
